
<%- include("../layouts/header.ejs") %>


<h1>Add User</h1>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter Name" required>
    <br> <br>
    <input type="text" name="email" placeholder="Enter Email" required>
    <br> <br>
    <input type="text" name="mobile" placeholder="Enter Mobile Number" required>
    <br> <br>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br> <br>
    <input type="file" name="image" >
    <br> <br>
    <input type="submit"  class="btn btn-primary" value="Add User" >  
    <a href="/admin/home" class="btn btn-primary" role="button">Cancel</a>   
</form>


<%- include("../layouts/footer.ejs") %>





