
<%- include("../layouts/header.ejs") %>


<div class="card myCard-center">
    <h1 class="card-header" >Admin Login</h1>
    
    <div class="card-body">
        <form action="/admin/login" method="post">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Enter email" required>
            <br>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password" required>
            <br>
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Login"></div>
            
        
        
        </form>
        
        <% if(typeof message !== "undefined") { %>
        
            <p> <%=message%> </p>
        
            <%}%>
    </div>
</div>


<%- include("../layouts/footer.ejs") %>