<%- include ("../layouts/header.ejs") %>

<div class="card myCard-center">
    <h1 class="card-header">Change Password</h1>
    <div class="card-body">
        
        <form action="" method="post">
            <input type="hidden", name="id", value="<%=data._id%>">
        <label for="oldPassword">Current Password</label>
        <input type="password" class="form-control" name="oldPassword" placeholder="Enter current password" required>
        <br>
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" name="newPassword" placeholder="Enter new password" required>
        <br> 
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm new password" required>
        <br> 
         <div class="two-buttons text-center">
             <input type="submit" value="Change password" class="btn btn-primary">
             <a href="/home" class="btn btn-primary">Cancel</a>
         </div>
        </form>
        
        <p><%=data.message%></p>
    </div>
</div>


<%- include("../layouts/footer.ejs")%>