<%- include ("../layouts/header.ejs") %>

<h1>Change Password</h1>

<form action="" method="post">
    <input type="hidden", name="id", value="<%=data._id%>">
<input type="password" name="oldPassword" placeholder="Enter old password" required>
<br> <br>
<input type="password" name="newPassword" placeholder="Enter new password" required>
<br> <br>
<input type="password" name="confirmPassword" placeholder="Confirm new password" required>
<br> <br>
 <input type="submit" value="Change password" class="btn btn-primary">
 <a href="/home" class="btn btn-primary">Cancel</a>
</form>

<p><%=data.message%></p>


<%- include("../layouts/footer.ejs")%>